<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean name="/test.do" class="com.test.controller.TestController"></bean>
	
	<!--DB Setting  -->
	<bean id="ds" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>jdbc/spring</value>
		</property>
		<property name="resourceRef" value="true"></property>
	</bean>

	<!-- template -->
	<bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"></property>
	</bean>
	
	<!-- Member Insert Form -->
	<bean name="/member_form_insert.do" class="com.member.controller.MemberFormInsert"></bean>

	<!-- Member Insert Action -->
	<bean name="/member_insert.do" class="com.member.controller.MemberInsert">
		<!-- name과 ref의 dao는 의미가 다르다. name의 dao는 MemberInsert에 있는 dao를, ref의 dao는 MemberDAOImpl의 객체를 의미한다 -->
		<property name="dao" ref="dao"></property>
	</bean>
	
	<!-- Member List Action -->
	<bean name="/member_list.do" class="com.member.controller.MemberList">
		<property name="dao" ref="dao"></property>
	</bean>
	
	<!-- Member DetailView Action -->
	<bean name="/member_detail.do" class="com.member.controller.MemberDetail">
		<property name="dao" ref="dao"></property>
	</bean>
	
	<!-- Member Update Form -->
	<bean name="/member_form_update.do" class="com.member.controller.MemberFormUpdate">
		<property name="dao" ref="dao"></property>
	</bean>
	
	<!-- Member Update -->
	<bean name="/member_update.do" class="com.member.controller.MemberUpdate">
		<property name="dao" ref="dao"></property>
	</bean>
	
	<!-- Member Delete -->
	<bean name="/member_delete.do" class="com.member.controller.MemberDelete">
		<property name="dao" ref="dao"></property>
	</bean>
	
	<!-- dao 정의 -->
	<bean id="dao" class="com.member.model.MemberDAOImpl">
		<property name="template" ref="template"></property>
	</bean>

</beans>